<h1>What happened?!</h1>

<div class="row mb-4">
    <div class="col">
        <a href="/">Go to home page</a>
     </div>
</div>

<div class="row">
    <div class="col">
        <div id="news-articles">
             {{#each data}}
                <div class="row">
                    <div class="col">
                        <a href={{url}} target='_blank'>
                            <h4>{{title}}</h4>
                        </a>
                        <p>{{summary}}</p>
                        <button class="btn btn-danger delete-saved-article mb-5" type="submit" data-id={{_id}}>Delete from saved</button>
                        <button class="btn btn-info text-white note-button mb-5" type="submit" data-id={{_id}}>Note</button>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
